<!DOCTYPE html>
<html>
  <head>
    <title>Citizen Review</title>
  </head>
  <style>
    
  .iconDetails {
 
float:left; 
height:40px;
width:40px; 
} 

.container2 {
    width:80%;
    height:auto;
    padding:2%;
    font-size: 20px;
}
  </style>
  <body style="background-color: Beige ;">
    <div class='container2'>
        <div>
           <img src="https://www.kindpng.com/picc/m/173-1731325_person-icon-png-transparent-png.png" class='iconDetails' style="width:25%;height: 50%;">
        </div>  
    <div style='margin-left:60px;'>
    <p style="padding-left: 200px;">Lorem ipsum is simply dummy text of the printing and typesetting
              industry lorem ipsum has been the industry's standard dummy text
              ever.</p>    
    </div>
    <div>
            <br><br><br><br><img src="https://www.kindpng.com/picc/m/173-1731325_person-icon-png-transparent-png.png" class='iconDetails' style="width:25%;height: 50%;">
        </div>  
    <div style='margin-left:60px;'>
    <p style="padding-left: 200px;">Lorem ipsum is simply dummy text of the printing and typesetting
              industry lorem ipsum has been the industry's standard dummy text
              ever.</p>
    
    
    </div>
    <div>
            <br><br><br><br><img src="https://www.kindpng.com/picc/m/173-1731325_person-icon-png-transparent-png.png" class='iconDetails' style="width:25%;height: 50%;">
        </div>  
    <div style='margin-left:60px;'>
    <p style="padding-left: 200px;">Lorem ipsum is simply dummy text of the printing and typesetting
              industry lorem ipsum has been the industry's standard dummy text
              ever.</p>
    
    
    </div>
</div>
  </body>
</html>
