 <!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  font-size: 20px;
  font: Copperplate Gothic Light;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: whitesmoke;
}
</style>
</head>
<body>

<ul>

  <a><img src="layout/images/nmclogo.png" ></a>
  <li style="padding-left: 600px;"><a class="active" href="#home">Home</a></li>
  <li><a href="#news">About Us</a></li>
  <li><a href="#contact">Services</a></li>
</ul>

</body>
</html>


