<!DOCTYPE html>
<html lang="en">
<head>
  <title>Video Reviews</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: Beige ;">

<div class="container-fluid">
 <br><br>
  <div class="col-sm-5" style="padding-left: 30px;">
     <iframe width="400" height="300"
      src="https://www.youtube.com/embed/v=wkLqrvk_1xY" style="">
      </iframe>
      <br><br><p style="text-align:center;">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
    </div>
    <div class="col-sm-6" style="padding-left: 150px;">
      <iframe width="400" height="300"
      src="https://www.youtube.com/embed/v=wkLqrvk_1xY">
      </iframe>
      <br><br><p style="text-align:center;padding-left: 10px;">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>

    </div>
</div>

<div class="container-fluid">
 <br><br>
  <div class="col-sm-5" style="padding-left: 30px;">
     <iframe width="400" height="300"
      src="https://www.youtube.com/embed/v=wkLqrvk_1xY" style="">
      </iframe>
      <br><br><p style="text-align:center;">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
    </div>
    <div class="col-sm-6" style="padding-left: 150px;">
      <iframe width="400" height="300"
      src="https://www.youtube.com/embed/v=wkLqrvk_1xY">
      </iframe>
      <br><br><p style="text-align:center;">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>

    </div>
</div>

</body>
</html>
